* {
  box-sizing: border-box;
}

:root {
  --hue: 220;
}

.aurora-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  perspective: 1000px;
  background: linear-gradient(180deg, #020222 0%, #020c2b 30%, #000000 100%);
  top: 0;
  left: 0;
  z-index: -10000000000000000;
}

.stars,
.stars-cross,
.stars-cross-aux {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.star {
  position: absolute;
  border-radius: 50%;
  background-color: white;
}

.star-0 {
  height: 0.5px;
  width: 0.5px;
}

.star-1 {
  height: 1px;
  width: 1px;
}

.star-2 {
  height: 1.5px;
  width: 1.5px;
}

.star-3 {
  height: 2px;
  width: 2px;
}

.star-4,
.star-5 {
  height: 2.5px;
  width: 2.5px;
  box-shadow: 0px 0px 6px 1px rgba(255, 255, 255, 0.5);
}

.stars-cross {
  position: absolute;
  top: 10vh;
  left: 0px;
  width: 120vw;
  height: 20vh;
  transform: rotate(20deg);
  transform-origin: top left;
}

.stars-cross-aux {
  position: absolute;
  top: 0vh;
  left: 10vw;
  width: 120vw;
  height: 10vh;
  transform: rotate(20deg);
  transform-origin: top left;
}

.blur {
  position: absolute;
  border-radius: 50%;
  background-color: white;
  opacity: 1;
  filter: blur(15px);
  width: 5px;
  height: 10px;
}

.blink {
  animation: blink ease-in-out infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.hill {
  background: hsl(var(--hue), 100%, 2%);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 80vmin;
  height: 40vmin;
  border-radius: 0 100% 0 0;
  z-index: -1; /* Set a low z-index to push it behind */
}

.hill::after {
  content: "";
  position: absolute;
  width: 75vmax;
  height: 20vmin;
  background: hsl(var(--hue), 100%, 2%);
  left: 0;
  bottom: 0;
  border-radius: 0 100% 0 0;
  z-index: -1; /* Inherit the z-index so it stays behind as well */
}

.moon {
  position: absolute;
  width: 40vmin;
  height: 40vmin;
  top: 0;
  left: 0;
  background: hsl(0, 10%, 75%);
  border-radius: 50%;
  box-shadow: 0 0 50px 10px hsl(0, 0%, 55%);
  transform: translate(-50%, -50%);
  filter: blur(10px);
}

.lights {
  position: absolute;
  width: 200vmax;
  height: 100vmax;
  top: 0;
  left: 50%;
  display: flex;
  filter: blur(75px);
  transform: translate(-20%, -55%) rotate(30deg);
}
/* 120 (green), 180 (blue-green), 240 (blue), 280 (purple), 320 (pink)*/

.light {
  flex: 1;
  --color-green: hsla(var(--hue-1), 100%, 50%, var(--alpha-1));
  --color-blue-green: hsla(var(--hue-2), 100%, 50%, var(--alpha-2));
  --color-blue: hsla(var(--hue-3), 100%, 50%, var(--alpha-3));
  --color-purple: hsla(var(--hue-4), 100%, 50%, var(--alpha-4));
  --color-red: hsla(var(--hue-5), 100%, 50%, var(--alpha-5));
  --up: calc(var(--y, 10) * 2vmax);
  --left: calc(var(--x, 2) * 2vmax);

  background-image: linear-gradient(
    0deg,
    transparent,
    var(--color-blue) 0%,
    transparent,
    var(--color-purple) 25%,
    transparent,
    var(--color-blue-green) 50%,
    transparent,
    var(--color-green) 75%
  );

  background-size: 100% 40vmax;
  background-position: center bottom;
  background-repeat: no-repeat;
  transform: translate(var(--left), var(--up)) scale(1);
  animation: shift calc(var(--duration, 2) * 1s) calc(var(--delay, 0) * -1s)
    infinite ease;
}

@keyframes shift {
  50% {
    transform: translate(0, 0) scale(1);
  }
}

@keyframes flicker {
  0%,
  50%,
  100% {
    transform: scale(1);
  }
  25% {
    transform: scale(0);
  }
}
